html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  font-size: 15px;
  color:white;
}

.bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
.bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  width: auto;
}
#content canvas, #content .disclaimer {
  position: absolute;
  width:100%; 
  height:100%; 
}

@-webkit-keyframes disclaimer {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes disclaimer {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

#content .disclaimer {
    -webkit-animation-name: disclaimer;
    -webkit-animation-duration: 20s;
    -webkit-animation-fill-mode: forwards;
    animation-name: disclaimer;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    opacity: 1;
}
.horizontal {
  display: table;
  width:100%; 
  height:100%; 
  position: absolute;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
  width:100%; 
  height:100%; 
}

.logo {
  z-index: 2;
  margin-top: -3.7%;
}

#content .glow {
  z-index: 1;
  background: url(../images/Logo_glow_small.svg) center center repeat-x; 
}