html, body {
  height: 100%;
  margin: 0px;
  overflow: hidden;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 15px;
  color:white;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: auto;
}
#content canvas, #content .disclaimer {
  position: absolute;
  width:100%;
  height:100%;
}

@-webkit-keyframes disclaimer {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes disclaimer {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

#media {
    position:relative;
    z-index:99;
    text-align: center;
    width: 100%;
    opacity: 0;
    background:rgba(0,0,0,0.5);
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
#media .text {
    display: none;
    background:rgba(128,128,255,0.5);
    padding: 10px 0;
}

#media.active, .no-videoautoplay #media.active {
  opacity: 0;
}

#media.active:hover, #media:hover  {
  opacity: 1;
}

#media iframe {
    width: 100%;
}
.no-videoautoplay #media {
      opacity: 1;
}
.no-videoautoplay #media .text {
    display: block;
}

#content .disclaimer {
    -webkit-animation-name: disclaimer;
    -webkit-animation-duration: 20s;
    -webkit-animation-fill-mode: forwards;
    animation-name: disclaimer;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    opacity: 1;
    text-align: center;
    width: 100%;
    margin-top: 4%;
    font-size: 1.3em;
    height: auto;
}
.horizontal {
  display: table;
  width:100%;
  height:100%;
  position: absolute;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
  width:100%;
  height:100%;
}

.logo {
  z-index: 2;
  margin: 2.3%;
  margin-right: 4%;
  margin-top: -1%;
}

#content .glow {
  z-index: 1;
  /*background: url(../images/Logo_glow_small.svg) center center repeat-x;*/
}
